<mat-toolbar color="accent">
  <mat-toolbar-row>
    <button mat-button [routerLink]="[ '/pie' ]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <mat-icon inline="true">pie_chart</mat-icon>
      دائرة
    </button>
    <button mat-button [routerLink]="[ '/pie/parliament' ]" routerLinkActive="active">
      <mat-icon inline="true">fiber_manual_record</mat-icon>
      <span>دائرة مع نقاط</span>
    </button>
    <button mat-button [routerLink]="[ '/pie/3D' ]" routerLinkActive="active">
      <mat-icon inline="true">3d_rotation</mat-icon>
      <span>دائرة 3 دي </span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
