<mat-list dir="rtl" class="text-center ">
  <mat-list-item>
    <strong>
      الشجره ما بتنرسم كل ما تضيف\ي علامه, هيك احسن و اسرع
    </strong>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="mt-1">
    <strong>
      ممكن تعدلو العلامات من اي تشارت
    </strong>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="mt-1">
    <strong>
      بتقدر تعرف معدلك اكبس على
      <mat-icon>
        highlight
      </mat-icon>
    </strong>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="mt-1">
    <strong>
      بتقدرو تضيفو المواد إلي برا الشجره
    </strong>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <strong>
      المره الجاي
    </strong>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  <mat-list-item>
    شجره ال MIS❗
  </mat-list-item>
</mat-list>

<button mat-button (click)="onMasheClick()">
  ماشي 😒
</button>
