<mat-list dir="rtl" class="text-center ">
  <mat-list-item>
    <strong>
      الشجره ما بتنرسم كل ما تضيف\ي علامه, هيك احسن و اسرع

    </strong>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="mt-1">
    <strong>
      ممكن تعدلو العلامات من الباي تشارتس و غيمه الكلامات, بس اكبس على الماده بالتشارت

    </strong>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="mt-1">
    <strong>
      بتقدر تعرف معدلك بالمواد الي انتا دخلتهم اكبس على
      <mat-icon>
        highlight
      </mat-icon>
    </strong>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <strong>
      المره الجاي
    </strong>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    1 - تعديل العلامات من اي تشارت❗
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    2 - تحسين الشكل و الألوان❗
  </mat-list-item>
  <mat-list-item>
    3 - المواد الحره❗
  </mat-list-item>
  <mat-list-item>
    4 - شجره ال MIS❗
  </mat-list-item>
</mat-list>

<button mat-button (click)="onMasheClick()">
  ماشي
</button>
