<div class="min-vh-50">
  <div class="row">
    <div class="col-lg-6 col-mg-6 col-sm-12  my-auto text-center">
      <mat-card data-aos="fade-left" class="left">
        <mat-card-content>
          <ng-content select=".left"></ng-content>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-lg-6 col-mg-6 col-sm-12  my-auto text-center">

      <mat-card data-aos="fade-right" class="right">
        <mat-card-content>
          <ng-content select=".right"></ng-content>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>
