@import '~aos/dist/aos.css';

mat-card {

  &.left {
    box-shadow: 0 3px 32px #0378A6 !important;
  }

  &.right {
    box-shadow: 0 3px 32px #FF8B8B !important;
  }

  border-radius: 60px;
  max-height: 7em;
  min-height: 7em;
}


.min-vh-50 {
  min-height: 50vh;
}
