<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <button mat-fab color="primary" routerLink="/tree/CS2012">
      <mat-icon>add</mat-icon>
    </button>
    <h1>
      علــم الحاســوبـ 2012
    </h1>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-fab color="primary">
      <mat-icon>add</mat-icon>
    </button>
    <h1>
      علــم الحاســوبـ 2017
    </h1>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-fab color="warn">
      <mat-icon>add</mat-icon>
    </button>
    <h1>
      هندسة البرمجياتـ 2012
    </h1>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-fab color="accent">
      <mat-icon>add</mat-icon>
    </button>
    <h1>
      هندسة الويب 2018
    </h1>
  </mat-grid-tile>
</mat-grid-list>
