<ng-container *ngIf="notifierService.selectedDB">
  <div id="fab-dismiss" *ngIf="fabTogglerState === 'active'" (click)="onToggleFab()"></div>

  <div class="fab-container" [ngStyle]="sty">
    <button mat-fab class="fab-toggler" (click)="onToggleFab()">
      <mat-icon [@fabToggler]="{ value: fabTogglerState }" class="white-text">
        {{ type === 'navigate1'  ? 'group_work' : 'dashboard'  }}
      </mat-icon>
    </button>
    <div [@speedDialStagger]="buttons.length">
      <button *ngFor="let btn of buttons" mat-mini-fab [color]="btn.color" [routerLink]="btn.route"
        (click)="onToggleFab()">
        <mat-icon>
          {{ btn.icon }}
        </mat-icon>
      </button>
    </div>
  </div>

</ng-container>
