<mat-sidenav-container fxLayout="row" fxLayout.xs="column" fxFlexFill dir='rtl'>
  <mat-sidenav mode="side" opened dir='rtl'>
    <mat-list>
      <ng-container *ngFor="let link of mainLinks">
        <mat-list-item [routerLink]="link.routerLink" [routerLinkActive]="link.routerLinkActive" matRipple>
          <mat-icon matListIcon>{{ link.icon }}</mat-icon>
          <p matLine>
            {{ link.name }}
          </p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>

    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content dir='rtl'>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
