<form [formGroup]="markForm" dir='rtl' class="w-100" (ngSubmit)="save()">
  <mat-form-field appearance="outline" hideRequiredMarker="false" class="w-100">
    <mat-label>اسم المادة</mat-label>
    <input matInput placeholder="بليز اسم المادة" formControlName="name" required>
    <mat-icon matSuffix>translate</mat-icon>
    <mat-hint>
      بتقدر تغير اسم المادة للي بتحبو
    </mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline" hideRequiredMarker="false" class="w-100">
    <mat-label>العلامة</mat-label>
    <input matInput placeholder="بليز علامتك" formControlName="mark" required>
    <mat-icon matSuffix>
      {{ mode(mark) }}
    </mat-icon>
    <mat-hint>اقل شي 35 و اعلى شي 100</mat-hint>
  </mat-form-field>

  <button mat-fab type="submit" [disabled]="markForm.invalid" class="save-button">
    <mat-icon>save</mat-icon>
  </button>
  <button mat-fab type="button" color="warn" *ngIf="data.optional" (click)="delete()">
    <mat-icon>delete</mat-icon>
  </button>
</form>
