<section class="min-vh-100">
  <main-subjets-card>
    <section class="left">
      <h1>
        <mat-icon inline="true">
          videocam
        </mat-icon>
        <a href="" target="_blank">
          تاتوريال 1
        </a>
      </h1>
    </section>
    <section class="right">
      <h1>
        <mat-icon inline="true">
          videocam
        </mat-icon>
        <a href="" target="_blank">
          تاتوريال 2
        </a>
      </h1>
    </section>

  </main-subjets-card>

  <main-subjets-card>
    <section class="left">
      <h1>
        <mat-icon inline="true">
          done_outline
        </mat-icon>
        اختار\ي خططتك الشجرية
      </h1>



    </section>

    <section class="right">
      <h1>
        <mat-icon inline="true">
          settings_input_composite
        </mat-icon>
        ضيف\ي علاماتك بالواد الحره و التخصص و الإختياريه
      </h1>
    </section>
  </main-subjets-card>

  <main-subjets-card>
    <section class="left">
      <h1>
        <mat-icon inline="true">
          supervisor_account
        </mat-icon>
        بدون حساب و ايميل, الداتا بتتخزن عندكـ
      </h1>
    </section>
    <section class="right">
      <h1>
        <mat-icon inline="true">
          cloud_download
        </mat-icon>
        و عشان ما في حساب ممكن تنزل الداتا عندك وتسخدمها من اي جهاز
      </h1>
    </section>
  </main-subjets-card>


  <main-subjets-card>
    <section class="left">
      <h1>
        علــم الحاســوبـ 2012
        <button mat-fab color="primary" routerLink="/tree" (click)="db('CS2012')" class="animated bounce infinite">
          <mat-icon aria-label="Example icon-button with a heart icon">skip_previous</mat-icon>
        </button>
      </h1>
    </section>
    <section class="right">
      <h1>
        علــم الحاســوبـ 2017
        <button mat-fab color="primary" routerLink="/tree" (click)="db('CS2017')" class="animated bounce infinite">
          <mat-icon aria-label="Example icon-button with a heart icon">skip_previous</mat-icon>
        </button>
      </h1>
    </section>

  </main-subjets-card>


  <main-subjets-card>
    <section class="left">
      <h1>
        هندسة البرمجياتـ 2012
        <button mat-fab color="primary" routerLink="/tree" (click)="db('SE2012')" class="animated bounce infinite">
          <mat-icon aria-label="Example icon-button with a heart icon">skip_previous</mat-icon>
        </button>
      </h1>
    </section>
    <section class="right">
      <h1>
        هندسة الويب 2018
        <button mat-fab color="primary" routerLink="/tree" (click)="db('WE2017')" class="animated bounce infinite">
          <mat-icon aria-label="Example icon-button with a heart icon">skip_previous</mat-icon>
        </button>
      </h1>
    </section>

  </main-subjets-card>

</section>
