<section class="row">
  <div class="col-6">
    <mat-list>
      <h3 mat-subheader>
        ملاحـــظاتــ
      </h3>
      <mat-list-item>
        المواد ممكن تتغير من تخصص لــ تخصص بس عدد الساعد هوا واحد
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        فعشان هيك احسن و ابسط شي انك\ي تدخلو العلامات تاعتكم
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        انتبهو لازم تحطو إذا المادة محسوبه بالمعدل او لا
      </mat-list-item>
    </mat-list>
  </div>
</section>

<free-subject12 (addHours12)="addHours12($event)" [oldSubjects]="oldSujbects"></free-subject12>
